In [1]:
# importing dependencies
import pandas as pd
import numpy as np
import seaborn as sn

In [2]:
#importing agriculture datasets
agric_training=pd.read_csv(r"C:\Users\Edison New\Desktop\HWG Q1 Reporting 2025\Datasetsets shared\Agriculture_clean_data.csv")

In [3]:
# pivoting the data agriculture training dataset
pivot_table_training=agric_training.pivot_table(index=['district_name','cohort', 'cycle','type'],values=['household_id'],aggfunc='count')

In [4]:
# reseting the index of the pivot table
pivot_table_training=pivot_table_training.reset_index()

In [5]:
#renaming the column household_id to No_of_HH_attended_training
pivot_table_training.rename(columns={'household_id':'No_of_HH_attended_training'}, inplace=True)

In [6]:
# creating a new column for the total population of each district based on census data
# reduced the census figures from Kitagwenda by 17 HHs that where duplicates
pivot_table_training['Total_population']=np.where(pivot_table_training['district_name']=="Kitagwenda",2014,
                                                  np.where(pivot_table_training['district_name']=="Rakai",2087,np.nan))

In [7]:
# creating a new column for the percentage of attendance
# calculating the percentage of attendance by dividing the number of households that attended training by the total population
pivot_table_training['percentage_attendance']=pivot_table_training['No_of_HH_attended_training']/pivot_table_training['Total_population']

In [8]:
#checking how the pivot table looks like
pivot_table_training

,district_name,cohort,cycle,type,No_of_HH_attended_training,Total_population,percentage_attendance
0,Kitagwenda,2025,A,Agriculture 1 - Organics Farming & Keyhole gar...,1939,2014.0,0.962761
1,Kitagwenda,2025,A,Agriculture 2 - Preparation & Preplanting (Day 1),1931,2014.0,0.958788
2,Kitagwenda,2025,A,Agriculture 2 - Preparation & Preplanting (Day 2),1924,2014.0,0.955313
3,Rakai,2025,A,Agriculture 1 - Organics Farming & Keyhole gar...,1940,2087.0,0.929564
4,Rakai,2025,A,Agriculture 2 - Preparation & Preplanting (Day 1),1939,2087.0,0.929085
5,Rakai,2025,A,Agriculture 2 - Preparation & Preplanting (Day 2),1912,2087.0,0.916148

In [9]:
#exporting the pivot table to an excel file in final outputs folder
output=r"C:\\Users\\Edison New\\Desktop\\HWG Q1 Reporting 2025\\Final outputs\\pivot_table_training.csv"
pivot_table_training.to_csv(output,index=False)