In [1]:
import pandas as pd
import numpy as np
import seaborn as sn

In [2]:
agric_training=pd.read_csv(r"C:\Users\Edison New\Desktop\HWG Q1 Reporting 2025\Datasetsets shared\Agriculture_clean_data.csv")

In [3]:
agric_training.columns

Index(['guid', 'region_name', 'district_name', 'cluster_name', 'village_name',
       'village_id', 'cohort', 'cycle', 'household_id', 'name', 'gender',
       'age', 'contact', 'training_latitude', 'training_longitude',
       'training_day', 'trainer_name', 'trainer_gender',
       'trainer_organization', 'trainer_title', 'trainer_phone_number',
       'number_of_village_households', 'number_of_households',
       'number_of_male_households', 'number_of_female_households',
       'number_of_male_youth_households', 'number_of_female_youth_households',
       'performance_rating', 'hours_to_complete', 'training_challenge',
       'general_comment', 'number_of_males_to_vote_equality_before',
       'number_of_females_to_vote_equality_before',
       'number_of_males_to_vote_equality_after',
       'number_of_females_to_vote_equality_after',
       'number_of_males_understand_importance_of_iga_before',
       'number_of_females_understand_importance_of_iga_before',
       'number_of_males_understand_importance_of_iga_after',
       'number_of_females_understand_importance_of_iga_after',
       'number_of_male_trainees_below_eighteen',
       'number_of_male_trainees_above_eighteen',
       'number_of_female_trainees_below_eighteen',
       'number_of_female_trainees_above_eighteen', 'photo', 'category', 'type',
       'topics', 'scanned', 'deleted', 'created_at'],
      dtype='object')

In [4]:
pivot_table_training=agric_training.pivot_table(index=['district_name','type'],values=['household_id'],aggfunc='count')

In [5]:
pivot_table_training=pivot_table_training.reset_index()

In [6]:
pivot_table_training.rename(columns={'household_id':'No_HHs_attended_agric_training'}, inplace=True)

In [7]:
pivot_table_training['Total_population']=np.where(pivot_table_training['district_name']=="Kitagwenda",2031,
                                                  np.where(pivot_table_training['district_name']=="Rakai",2087,np.nan))

In [8]:
pivot_table_training['percentage_attendance']=pivot_table_training['No_HHs_attended_agric_training']/pivot_table_training['Total_population']

In [9]:
pivot_table_training

,district_name,type,No_HHs_attended_agric_training,Total_population,percentage_attendance
0,Kitagwenda,Agriculture 1 - Organics Farming & Keyhole gar...,1939,2031.0,0.954702
1,Kitagwenda,Agriculture 2 - Preparation & Preplanting (Day 1),1931,2031.0,0.950763
2,Kitagwenda,Agriculture 2 - Preparation & Preplanting (Day 2),1924,2031.0,0.947317
3,Rakai,Agriculture 1 - Organics Farming & Keyhole gar...,1940,2087.0,0.929564
4,Rakai,Agriculture 2 - Preparation & Preplanting (Day 1),1939,2087.0,0.929085
5,Rakai,Agriculture 2 - Preparation & Preplanting (Day 2),1807,2087.0,0.865836

In [11]:
output=r"C:\\Users\\Edison New\\Desktop\\HWG Q1 Reporting 2025\\Final outputs\\pivot_table_training.xlsx"
pivot_table_training.to_excel(output,index=False)