In [1]:
#importing dependencies
import pandas as pd
import numpy as np

Analysis on HOR#3 and Coffee value addition training

In [2]:
# importing the data files for HOR#3 from the app downloads
data_hor3=pd.read_csv(r"C:\\Users\\Edison New\\Desktop\\HWG Q1 Reporting 2025\\Datasetsets shared\\HOR#3 training clean.csv")

In [3]:
#pivoting the HOR data 
HOR3_analysis=data_hor3.pivot_table(index=['district_name','cohort', 'cycle','type'],values=['household_id'],aggfunc="count")

In [4]:
# resetting the index to make it easier to work with
HOR3_analysis=HOR3_analysis.reset_index()

In [5]:
# Renaming the columns for clarity household_id to No_of_HH_attended_training
HOR3_analysis.rename(columns={"household_id":"No_of_HH_attended_training"},inplace=True)

In [6]:
# Adding a new column for the total population based on census data 2024 cycle B
HOR3_analysis['Total_population']=np.where(HOR3_analysis['district_name']=="Rakai",4906,
                                           np.where(HOR3_analysis['district_name']=="Kitagwenda",2057,np.nan))

In [7]:
#creating a new column for the percentage of attendance of trainings
HOR3_analysis['percentage_attendance']=HOR3_analysis["No_of_HH_attended_training"]/HOR3_analysis['Total_population']

In [8]:
# having a look at the data for HOR3 summaries
HOR3_analysis

,district_name,cohort,cycle,type,No_of_HH_attended_training,Total_population,percentage_attendance
0,Kitagwenda,2024,B,HOR 3,1957,2057.0,0.951386
1,Rakai,2024,B,HOR 3,4608,4906.0,0.939258

 checking for coffe value addition

In [9]:
# importing and reading  the value addition data for coffee for 2024 cycle A
data_coffee_clean=pd.read_csv(r"C:\\Users\\Edison New\\Desktop\\HWG Q1 Reporting 2025\\Datasetsets shared\\coffee value addition training clean.csv")
data_coffee_clean.shape

(1219, 50)

In [10]:
# pivoting the coffee value addition data
coffee_value_addition_analysis=data_coffee_clean.pivot_table(index=['district_name','cohort', 'cycle','type'],values=['household_id'],aggfunc="count")

In [11]:
# pivoting the coffee value addition data for 2024 cycle A
coffee_value_addition_analysis=coffee_value_addition_analysis.reset_index()

In [12]:
# Renaming the columns for clarity household_id to No_of_HH_attended_training
coffee_value_addition_analysis.rename(columns={"household_id":"No_of_HH_attended_training"},inplace=True)

In [13]:
# Adding a new column for the total population based on census data 2024 cycle A
coffee_value_addition_analysis['Total_population']=1346

In [14]:
# creating a new column for the percentage of attendance of trainings of coffee value addition
coffee_value_addition_analysis['percentage_attendance']=coffee_value_addition_analysis["No_of_HH_attended_training"]/coffee_value_addition_analysis['Total_population']

In [15]:
# Having a look at the data for coffee value addition summaries
coffee_value_addition_analysis

,district_name,cohort,cycle,type,No_of_HH_attended_training,Total_population,percentage_attendance
0,Kitagwenda,2024,A,Coffee Value Addition Training,1219,1346,0.905646

In [16]:
# merging the two dataframes for coffee value addition and HOR3 analysis
combined_analysis=pd.concat([coffee_value_addition_analysis,HOR3_analysis])
combined_analysis

,district_name,cohort,cycle,type,No_of_HH_attended_training,Total_population,percentage_attendance
0,Kitagwenda,2024,A,Coffee Value Addition Training,1219,1346.0,0.905646
0,Kitagwenda,2024,B,HOR 3,1957,2057.0,0.951386
1,Rakai,2024,B,HOR 3,4608,4906.0,0.939258

In [17]:
# exporting the combined analysis to a csv file to final outputs folder
filepath="C:\\Users\\Edison New\\Desktop\\HWG Q1 Reporting 2025\\Final outputs\\combined coffee pivot analysis_trainings.csv"
combined_analysis.to_csv(filepath,index=False)