In [1]:
import pandas as pd
import numpy as np

In [2]:
census = pd.read_excel(r'C:\Users\RTV-LPT1-233\Desktop\edison jupyter\HWG Data request1.xlsx',
                        sheet_name='CensusMapped HH')

In [3]:
census['cohort']=2024

In [4]:
census.head()

,district,subcounty,parish_t,village,Cluster,Cycle,household_id,cohort
0,Kitagwenda,Ruhunga,Kyarwera,Rweya,Ruhunga,A,KIT-RWE-VIO-F-202715,2024
1,Kitagwenda,Ruhunga,Kyarwera,Rweya,Ruhunga,A,KIT-RWE-SUL-M-091715,2024
2,Kitagwenda,Ruhunga,Kyarwera,Rweya,Ruhunga,A,KIT-RWE-DID-M-093637,2024
3,Kitagwenda,Ruhunga,Kyarwera,Rweya,Ruhunga,A,KIT-RWE-JOY-F-095504,2024
4,Kitagwenda,Ruhunga,Kyarwera,Rweya,Ruhunga,A,KIT-RWE-PAT-M-101050,2024

In [5]:
census_2025=pd.read_excel(r"C:\Users\RTV-LPT1-233\Desktop\edison jupyter\2025cycle A census.xlsx")

In [6]:
census_2025.columns

Index(['RecordID', 'district', 'district_id', 'subcounty', 'parish_t',
       'Cluster', 'village', 'cohort_cycle', 'Cycle', 'cohort',
       'hhh_full_name', 'Household_Head_Age', 'Household_Head_Contact',
       'Marital_Status', 'Household_Head_Gender', 'Spouse_Name',
       'Spouse_Gender', 'Telephone_Contact', 'tot_hhmembers', 'household_id',
       'Card No', 'hhid_No', 'category'],
      dtype='object')

In [7]:
census_merged=pd.concat([census,census_2025], 
                       join='inner')

In [8]:
census_merged.head()

,district,subcounty,parish_t,village,Cluster,Cycle,household_id,cohort
0,Kitagwenda,Ruhunga,Kyarwera,Rweya,Ruhunga,A,KIT-RWE-VIO-F-202715,2024
1,Kitagwenda,Ruhunga,Kyarwera,Rweya,Ruhunga,A,KIT-RWE-SUL-M-091715,2024
2,Kitagwenda,Ruhunga,Kyarwera,Rweya,Ruhunga,A,KIT-RWE-DID-M-093637,2024
3,Kitagwenda,Ruhunga,Kyarwera,Rweya,Ruhunga,A,KIT-RWE-JOY-F-095504,2024
4,Kitagwenda,Ruhunga,Kyarwera,Rweya,Ruhunga,A,KIT-RWE-PAT-M-101050,2024

In [9]:
census_merged.shape

(12427, 8)

## Training data checks

In [10]:
#reading training dataset
training_data=pd.read_csv(r"C:\Users\Edison New\Desktop\HWG Q1 Reporting 2025\Raw data sets from the app\check2 hWG Q1 files\Training data 2025 cycle A.csv")

In [11]:
training_data=training_data[training_data['cohort']==2025]

In [12]:
#checking for households IDs in Census data
checked_data=training_data[training_data['household_id'].isin(census_merged['household_id'])]

In [13]:
#droping the duplicates by training types
clean_data = (
    checked_data
    .sort_values(by='type')  
    .drop_duplicates(subset=['type', 'household_id'])  
)

In [14]:
clean_data.head()

,region_name,district_name,cluster_name,village_name,village_id,cohort,cycle,household_id,name,gender,...,number_of_male_trainees_above_eighteen,number_of_female_trainees_below_eighteen,number_of_female_trainees_above_eighteen,photo,category,type,topics,scanned,deleted,created_at
24284,South West,Kitagwenda,Nyakacwamba,Rwengwe_Nyakacwamba,3132,2025,A,KIT-RWE-SUM-M-082949-15,Sumpta Turyahebwa,Male,...,NaN,NaN,NaN,NaN,Agriculture,Agriculture 1 - Organics Farming & Keyhole gar...,Compost Manure Handling and Application rates/...,1.0,False,13/01/2025 10:15
21705,Central,Rakai,Kasensero,Mikunyu,9010,2025,A,RAK-MIK-KAW-M-101006-18,Kaweesi Ronald,Male,...,NaN,NaN,NaN,NaN,Agriculture,Agriculture 1 - Organics Farming & Keyhole gar...,"Compost Manure Making and Application, Keyhole...",1.0,False,16/01/2025 12:31
21704,Central,Rakai,Kasensero,Mikunyu,9010,2025,A,RAK-MIK-NAB-F-191546-18,Nabukalu Hanifah,Female,...,NaN,NaN,NaN,NaN,Agriculture,Agriculture 1 - Organics Farming & Keyhole gar...,"Compost Manure Making and Application, Keyhole...",1.0,False,16/01/2025 12:31
21703,Central,Rakai,Kasensero,Mikunyu,9010,2025,A,RAK-MIK-MUS-M-185743-18,Musiitwa Isaac,Male,...,NaN,NaN,NaN,NaN,Agriculture,Agriculture 1 - Organics Farming & Keyhole gar...,"Compost Manure Making and Application, Keyhole...",1.0,False,16/01/2025 12:31
21702,Central,Rakai,Kasensero,Mikunyu,9010,2025,A,RAK-MIK-NAM-F-073842-18,Namata Madrine,Female,...,NaN,NaN,NaN,NaN,Agriculture,Agriculture 1 - Organics Farming & Keyhole gar...,"Compost Manure Making and Application, Keyhole...",1.0,False,16/01/2025 12:31

In [15]:
training_analysis=clean_data.pivot_table(index=['district_name','village_name','cohort','cycle','type'],
                                         values='household_id',
                                         aggfunc='count')

In [16]:
training_analysis

                                                                                            household_id
district_name village_name cohort cycle type
Kitagwenda    Bujumiro_A   2025   A     Agriculture 1 - Organics Farming & Keyhole gard...           110
                                        Agriculture 2 - Preparation & Preplanting (Day 1)            108
                                        Agriculture 2 - Preparation & Preplanting (Day 2)            114
                                        CATs / Agriculture Champions                                  13
                                        HHT 1 - Day 2 - VSLAs                                        110
...                                                                                                  ...
Rakai         Nnongo_A     2025   A     HHT 1 - Day 2 - VSLAs                                        167
                                        HHT 1 - Mindset and behavioral change                        168
                                        VSLA Leadership Training                                      31
                                        WASH - Training 1                                            168
                                        WASH Champions Training                                        9

[369 rows x 1 columns]

In [17]:
training_analysis = training_analysis.reset_index()

In [18]:
training_analysis1=training_analysis[training_analysis['cohort']==2025]

In [19]:
training_analysis1.to_excel(r"C:\Users\Edison New\Desktop\HWG Q1 Reporting 2025\Quality reports shared\training_analysis.xlsx", index=False)

In [20]:
trainings = [
    # "Agriculture - General Refresher",
    # "Agriculture - Post Harvest Handling",
    "Agriculture 1 - Organics Farming & Keyhole gardening",
    "Agriculture 2 - Preparation & Preplanting (Day 1)",
    "Agriculture 2 - Preparation & Preplanting (Day 2)",
    # "Agriculture Perennial Crops",
    "CATs / Agriculture Champions",
    # "CDD Training #1",
    # "Coffee Champions - ToT 1",
    # "Coffee Champions - ToT 2",
    # "Coffee Champions - ToT 3",
    # "Coffee Champions Training",
    # "Coffee Value Addition Training",
    # "Collective Marketings",
    "HHT 1 - Day 2 - VSLAs",
    "HHT 1 - Mindset and behavioral change",
    "HHT 2 - Financial Literacy and VSLA and and Business Enterprise Selection",
    # "HHT 3 - Gender Equality and Social Inclusion",
    "HOR 1",
    # "HOR 2",
    # "HOR 3",
    # "HOR 4",
    # "Livestock - Beneficiary Training",
    # "Livestock - Livestock Care & Management",
    "Village Champions",
    # "VLT - Training",
    # "VLT - Training 1",
    # "VSLA Leadership Training",
    # "WASH - Refresher",
    "WASH - Training 1",
    "WASH Champions Training",
    # "Water User Committee"
]

In [21]:
missing_trainings = []

In [22]:
# Group by district, village, cohort, and cycle
grouped = training_analysis.groupby(['district_name', 'village_name', 'cohort', 'cycle'])

In [23]:
for (district, village, cohort, cycle), group in grouped:
    attended_trainings = group['type'].unique().tolist()  
    missing = list(set(trainings) - set(attended_trainings)) 
    if missing:
        missing_trainings.append({
            "district_name": district,
            "village": village,
            "cohort": cohort,
            "cycle": cycle,
            "missing_trainings": ", ".join(missing)
        })

# Convert to DataFrame
missing_trainings_df = pd.DataFrame(missing_trainings)

In [24]:
agric_training=pd.read_csv(r"C:\Users\Edison New\Desktop\HWG Q1 Reporting 2025\Raw data sets from the app\agriculture trainings check#4.csv")

In [25]:
agric_training.shape

(11585, 50)

In [26]:
clean_agric_file=agric_training[agric_training['household_id'].str.upper().isin(census_merged['household_id'].str.upper())]
clean_agric_file.shape

(11585, 50)

In [27]:
filepath="C:\\Users\\Edison New\\Desktop\\HWG Q1 Reporting 2025\\Datasetsets shared\\Agriculture_clean_data.csv"
clean_agric_file.to_csv(filepath,index=False)

### Value addition training 2024 cycle A

In [28]:
# checking for training of coffee value addition training
data_value=pd.read_csv(r"C:\Users\Edison New\Desktop\HWG Q1 Reporting 2025\Raw data sets from the app\check2 hWG Q1 files\coffee value addition training.csv")

In [29]:
census_A=census[census['Cycle']=='A']
census_A.shape
census_A_villages=census_A['village'].unique()

In [30]:
missing_coffee=[]
coffee_villages=data_value['village_name'].unique()
for village in census_A_villages:
    if village not in coffee_villages:
       village.append(missing_coffee)
print(missing_coffee)

[]

In [31]:
filepath="C:\\Users\\Edison New\\Desktop\\HWG Q1 Reporting 2025\\Datasetsets shared\\coffee value addition training clean.csv"
data_value_addition_clean_file=data_value[data_value['household_id'].str.upper().isin(census['household_id'].str.upper())]
data_value_addition_clean_file.to_csv(filepath,index=False)

### HOR#3 for 2024 cycle B

In [32]:
data_hor3=pd.read_excel(r"C:\Users\Edison New\Desktop\HWG Q1 Reporting 2025\Raw data sets from the app\check2 hWG Q1 files\HOR#3 2024 cycle B.xlsx")

In [33]:
census_b=census[census['Cycle']=="B"]
census_b.shape

(6963, 8)

In [34]:
census_b_villages = census_b['village'].unique()
data_hor3_villages = data_hor3['village_name'].unique()
missing_hor3 = []
for village in census_b_villages:
    if village not in data_hor3_villages:
        missing_hor3.append(village)

In [35]:
for m in missing_hor3:
    df=pd.DataFrame(missing_hor3,columns=['village_name'])
    df['type']="HOR 3"

In [36]:
summary_census_b=census_b.groupby(['district','village','Cluster','Cycle','cohort'])['household_id'].count()

In [37]:
summary_census_b = summary_census_b.reset_index().rename(columns={'village': 'village_name'})

In [38]:
missing_hor3 = pd.merge(summary_census_b, df, on='village_name', how='outer')

In [39]:
missing_hor3 = missing_hor3[missing_hor3['district'] != "Rakai"]

In [40]:
missing_hor3.rename(columns={'district':'district_name',
                             'village_name':'village',
                             'Cycle':'cycle',
                             'cohort':'cohort',
                             'type':'missing_trainings'},inplace=True)

In [41]:
merged_missing_training = pd.concat([missing_trainings_df, missing_hor3], ignore_index=True)

In [42]:
merged_missing_training.to_excel(r"C:\Users\Edison New\Desktop\HWG Q1 Reporting 2025\Datasetsets shared\missing training reports.xlsx", index=False)

In [43]:
filepath="C:\\Users\\Edison New\\Desktop\\HWG Q1 Reporting 2025\\Datasetsets shared\\HOR#3 training clean.csv"
Clean_HOR=data_hor3[data_hor3['household_id'].isin(census['household_id'])]
Clean_HOR.to_csv(filepath,index=False)

## Agriculuture tools analysis

In [44]:
tool_list=['Hoes','Spade','Pick Axe','Forked Hoe','Secateurs','Gloves',
           'Watering can','Jerrycans','Spray Pumps','Tarpaulin','Pruning saw',
           'Filters','Mortar and Pestle','Plastic Drums']

In [45]:
tools_system=pd.read_excel(r"C:\\Users\\Edison New\Desktop\\HWG Q1 Reporting 2025\\Raw data sets from the app\\check2 hWG Q1 files\\Tools system.xlsx")

In [46]:
tools_system.head()

,guid,region_name,district_name,cluster_name,village_name,cohort,cycle,reporter,reporter_email,name,...,tool,number_of_pieces,hours_to_complete,officials,other_officials,challenges,other_challenges,latitude,longitude,created_at
0,177B61DB-FA41-D2AC-F1BB-951B953C88D7,South West,Kitagwenda,Muyenga,Muyenga_TC,2025,A,Irene,irene.mwigarire@raisingthevillage.org,Robert Magezi,...,Spade,6,4,NaN,NaN,NaN,NaN,0.022091,30.385561,2025-02-07 15:08:01
1,BF43507F-B3BA-032B-715B-7F56CF673D2F,South West,Kitagwenda,Muyenga,Muyenga_TC,2025,A,Irene,irene.mwigarire@raisingthevillage.org,Robert Magezi,...,Secateurs,15,4,NaN,NaN,NaN,NaN,0.022091,30.385561,2025-02-07 15:08:01
2,2908005B-429F-E347-46AB-BBB44D4CBD7E,South West,Kitagwenda,Muyenga,Muyenga_TC,2025,A,Irene,irene.mwigarire@raisingthevillage.org,Robert Magezi,...,Plastic Drums,3,4,NaN,NaN,NaN,NaN,0.022091,30.385561,2025-02-07 15:08:01
3,B4A55427-7F18-49EB-F0AB-68956F21CA51,South West,Kitagwenda,Muyenga,Muyenga_TC,2025,A,Irene,irene.mwigarire@raisingthevillage.org,Robert Magezi,...,Pick Axe,6,4,NaN,NaN,NaN,NaN,0.022091,30.385561,2025-02-07 15:08:01
4,A4766DF0-B57B-D66F-5D68-1A3DC6286E35,South West,Kitagwenda,Muyenga,Muyenga_TC,2025,A,Irene,irene.mwigarire@raisingthevillage.org,Robert Magezi,...,Knapsack Sprayer,6,4,NaN,NaN,NaN,NaN,0.022091,30.385561,2025-02-07 15:08:01

In [47]:
# Expand the 'tools' column
# tools_expanded = tools_system1['tools'].str.split(', ', expand=True).stack().reset_index(level=1, drop=True)
# tools_expanded = tools_expanded.str.extract(r'(?P<Tool_Name>.+) \((?P<Quantity>\d+)\)')

# # Create a new DataFrame with repeated original data for alignment
# if len(tools_system1) > len(tools_expanded.groupby(level=0).size()):
#     tools_system1 = tools_system1.iloc[:len(tools_expanded.groupby(level=0).size())]
# elif len(tools_system1) < len(tools_expanded.groupby(level=0).size()):
#     tools_expanded = tools_expanded.iloc[:len(tools_system1)]

# # Proceed with the repeat operation
# df_expanded = tools_system1.loc[tools_system1.index.repeat(tools_expanded.groupby(level=0).size())].reset_index(drop=True)

# # Combine with expanded tools DataFrame
# tools_system = pd.concat([df_expanded, tools_expanded.reset_index(drop=True)], axis=1).drop(columns=['tools'])

In [48]:
# tools_system['Tool_Name'].unique()

In [49]:
tools_system['tool'].replace('Knapsack Sprayer','Spray Pumps',inplace=True)

C:\Users\Edison New\AppData\Local\Temp\ipykernel_10192\2040254355.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  tools_system['tool'].replace('Knapsack Sprayer','Spray Pumps',inplace=True)

In [50]:
tools_distributed=tools_system.groupby(['district_name','cluster_name',
                                        'village_name','tool'])['number_of_pieces'].sum()

In [51]:
tools_distributed=tools_distributed.reset_index()

In [52]:
# tools_distributed.rename(columns={"Tool_Name":"tool",
#                                   "Quantity":'number_of_pieces'},inplace=True)

In [53]:
filepath="C:\\Users\\Edison New\\Desktop\\HWG Q1 Reporting 2025\\Quality reports shared\\tools distribution clean file.csv"
tools_distributed.to_csv(filepath,index=False)

In [54]:
missing_tools = []

In [55]:
tools_villages = set(tools_system['village_name'].unique())
for row in census_merged.itertuples(index=False):
    if row.village not in tools_villages:
        missing_tools.append({
            "district_name": row.district,
            "cluster_name": row.Cluster,
            "village_name": row.village,
            "missing_tools": ", ".join(tool_list)  # Ensure tool_list exists
        })

In [56]:
grouped=tools_distributed.groupby(['district_name','cluster_name','village_name'])

In [57]:
for (district, cluster,village), group in grouped:
    tools_distributed1 = group['tool'].unique().tolist()  
    missing = list(set(tool_list) - set(tools_distributed1)) 
    if missing:
        missing_tools.append({
            "district_name": district,
            "cluster_name": cluster,
            "village_name": village,
            "missing_tools": ", ".join(missing)
        })

In [58]:
missing_tools_df = pd.DataFrame(missing_tools)
missing_tools_df.to_excel(r"C:\Users\Edison New\Desktop\HWG Q1 Reporting 2025\Quality reports shared\missing tools.xlsx", index=False)

###agriculture tools with designs check

In [59]:
tools_designs=pd.read_excel(r'C:\Users\RTV-LPT1-233\Desktop\edison jupyter\tools_seed.xlsx',sheet_name='Tools')

In [60]:
tools_designs.head()

,district,cluster,Villages,#HHs,Watering Cans - ( 5 per Agric Champion)\nNice House of Plastics,Hoes - (2 per Agric Champion)\nCock,Secateurs (5 per Agric Champion/ Coffee Champion),Spades - (2 per Agric Champion)\nMetalic spade & metalic handle,Pick Axe - (1 per Agric Champion)\nApex/Crocodile,Gloves (2 per Agric Champion/ Coffee Champion),...,Wheel barrows\nReliance,Sprayer for Agric - (2 per Agric Champion)\nBomba Magoba 16 Ltrs,Tarpaulin - (A pack of 5 per Agric Champion)\nBlue 6*6,Jerrycan - (2 per Agric Champion)\nNice House of Plastics,Oxplough,plastic_tanks_120_ltrs_liquid_manure,sacks_liquid_manure,sisal_rope_liquid_manure,filter_liquid_manure,mortar_&_pestle_liquid_manure
0,Kitagwenda,Muyenga,Muyenga_Central,42,10,4,10,4,4,4,...,0,4,20,4,0,2,2,2,2,2
1,Kitagwenda,Muyenga,Muyenga_TC,55,15,6,15,6,6,6,...,0,6,30,6,0,3,3,0,3,3
2,Kitagwenda,Muyenga,Nganiko_2,66,15,6,15,6,6,6,...,0,6,30,6,0,3,3,0,3,3
3,Kitagwenda,Muyenga,Nganiko_3,60,15,6,15,6,6,6,...,0,6,30,6,0,3,3,0,3,3
4,Kitagwenda,Muyenga,Zanzibar,57,15,6,15,6,6,6,...,0,6,30,6,0,3,3,0,3,3

In [61]:
tools_designs.columns

Index(['district', 'cluster', 'Villages ', '#HHs',
       'Watering Cans - ( 5 per Agric Champion)\nNice House of Plastics',
       'Hoes - (2 per Agric Champion)\nCock ',
       'Secateurs (5 per Agric Champion/ Coffee Champion)',
       'Spades - (2 per Agric Champion)\nMetalic spade & metalic handle',
       'Pick Axe - (1 per Agric Champion)\nApex/Crocodile ',
       'Gloves (2 per Agric Champion/ Coffee Champion)',
       'Forked Hoes - (1 per Agric Champion)\nCrocodile', 'Pangas\nDiamond',
       'Trowels\nGarden Hand Trowel', 'Prunning saws',
       'Wheel barrows\nReliance',
       'Sprayer for Agric - (2 per Agric Champion)\nBomba Magoba 16 Ltrs',
       'Tarpaulin - (A pack of 5 per Agric Champion)\nBlue 6*6',
       'Jerrycan - (2 per Agric Champion)\nNice House of Plastics', 'Oxplough',
       'plastic_tanks_120_ltrs_liquid_manure', 'sacks_liquid_manure',
       'sisal_rope_liquid_manure', 'filter_liquid_manure',
       'mortar_&_pestle_liquid_manure'],
      dtype='object')

In [62]:
tools_designs.rename(columns={'Secateurs (5 per Agric Champion/ Coffee Champion)':'Secateurs',
                              'Gloves (2 per Agric Champion/ Coffee Champion)':'Gloves',
                              'Watering Cans - ( 5 per Agric Champion)\nNice House of Plastics':'Watering can',
                              'Hoes - (2 per Agric Champion)\nCock ':"Hoes",
                              'Pick Axe - (1 per Agric Champion)\nApex/Crocodile ':'Pick Axe',
                              'Spades - (2 per Agric Champion)\nMetalic spade & metalic handle':"Spade",
                              "Forked Hoes - (1 per Agric Champion)\nCrocodile":"Forked Hoe",
                              "Jerrycan - (2 per Agric Champion)\nNice House of Plastics":"Jerrycans",
                              "Sprayer for Agric - (2 per Agric Champion)\nBomba Magoba 16 Ltrs":"Spray Pumps",
                              "Tarpaulin - (A pack of 5 per Agric Champion)\nBlue 6*6":"Tarpaulin",
                              "Prunning saws":"Pruning saw",
                              "division":'district',
                              "plastic_tanks_120_ltrs_liquid_manure":"Plastic Drums",
                              "sacks_liquid_manure":"Compound Sacks",
                              "sisal_rope_liquid_manure":"Rope",
                              "filter_liquid_manure":"Filters",
                              "mortar_&_pestle_liquid_manure":"Mortar and Pestle",
                              'Villages ':"village"},inplace=True)

In [63]:
tools_designs_melted=pd.melt(tools_designs,id_vars=['district','cluster','village'],
                             value_vars=['Secateurs','Gloves','Watering can','Hoes','Pick Axe','Spade',
                                         'Forked Hoe','Jerrycans','Spray Pumps','Tarpaulin','Pruning saw',
                                         "Plastic Drums","Compound Sacks","Rope","Filters","Mortar and Pestle"],
                             var_name='tool',value_name='number_of_pieces')

In [64]:
tools_designs_melted.head()

     district  cluster          village       tool  number_of_pieces
0  Kitagwenda  Muyenga  Muyenga_Central  Secateurs                10
1  Kitagwenda  Muyenga       Muyenga_TC  Secateurs                15
2  Kitagwenda  Muyenga        Nganiko_2  Secateurs                15
3  Kitagwenda  Muyenga        Nganiko_3  Secateurs                15
4  Kitagwenda  Muyenga         Zanzibar  Secateurs                15

In [65]:
tools_designs_melted.rename(columns={'district':'district_name',
                                     'cluster':'cluster_name',
                                     'village':'village_name'},inplace=True)

In [66]:
tools_designs_melted.head()

  district_name cluster_name     village_name       tool  number_of_pieces
0    Kitagwenda      Muyenga  Muyenga_Central  Secateurs                10
1    Kitagwenda      Muyenga       Muyenga_TC  Secateurs                15
2    Kitagwenda      Muyenga        Nganiko_2  Secateurs                15
3    Kitagwenda      Muyenga        Nganiko_3  Secateurs                15
4    Kitagwenda      Muyenga         Zanzibar  Secateurs                15

In [67]:
tools_designs_melted.to_csv("Tool list designed to be distributed.csv")

In [68]:
merged = tools_distributed.merge(
    tools_designs_melted,
    on=['district_name', 'cluster_name', 'village_name', 'tool'],
    suffixes=('_system', '_designs'),
    how='outer'
)

differences = merged[merged['number_of_pieces_system'] != merged['number_of_pieces_designs']][['district_name', 'cluster_name', 'village_name',
                                                                                                'tool', 'number_of_pieces_system', 
                                                                                                'number_of_pieces_designs']]

In [69]:
differences.to_excel(r"C:\Users\Edison New\Desktop\HWG Q1 Reporting 2025\Quality reports shared\tools difference.xlsx", index=False)

### nurserybed checks

In [70]:
data_system = pd.read_csv(r"C:\Users\Edison New\Desktop\HWG Q1 Reporting 2025\Raw data sets from the app\check2 hWG Q1 files\nurserybed seed distribution Check#3.csv")

In [71]:
data_system=data_system[data_system['household_id'].isin(census_merged['household_id'])]

In [72]:
data_system.head()

,guid,region_name,district_name,cluster_name,village_name,cohort,cycle,reporter,reporter_email,name,...,total_quantity,variety,hours_to_complete,officials,other_officials,challenges,other_challenges,latitude,longitude,created_at
0,E107A042-7A8A-89A2-9187-8C1351DFF6D2,South West,Kitagwenda,Nyakacwamba,Nyakacwamba_2,2025,A,Charles,charles.tweteise@raisingthevillage.org,Tumukurate Ignitias,...,1,Amaranths,4,NaN,NaN,NaN,NaN,0.006664,30.368231,16/02/2025 18:57
1,6E1DDA09-2AF6-8D90-43DA-482AC1209B2A,South West,Kitagwenda,Nyakacwamba,Nyakacwamba_2,2025,A,Charles,charles.tweteise@raisingthevillage.org,Tumukurate Ignitias,...,1,Black night shade,4,NaN,NaN,NaN,NaN,0.006664,30.368231,16/02/2025 18:57
2,DFD6F1A5-E49B-004D-2C08-98065600308B,South West,Kitagwenda,Nyakacwamba,Nyakacwamba_2,2025,A,Charles,charles.tweteise@raisingthevillage.org,Tumukurate Ignitias,...,1,Cabbage,4,NaN,NaN,NaN,NaN,0.006664,30.368231,16/02/2025 18:57
3,D4BF349A-CA70-8DEF-7546-EF12DC3716DE,South West,Kitagwenda,Nyakacwamba,Nyakacwamba_2,2025,A,Charles,charles.tweteise@raisingthevillage.org,Tumukurate Ignitias,...,1,Green Pepper,4,NaN,NaN,NaN,NaN,0.006664,30.368231,16/02/2025 18:57
4,D4507CF4-76DB-4053-84AC-E76C44439EF5,South West,Kitagwenda,Nyakacwamba,Nyakacwamba_2,2025,A,Charles,charles.tweteise@raisingthevillage.org,Tumukurate Ignitias,...,1,Nakati,4,NaN,NaN,NaN,NaN,0.006664,30.368231,16/02/2025 18:57

In [73]:
data_system_analysis=data_system.groupby(['district_name','cluster_name',
                                          'village_name','variety'])['total_quantity'].sum().reset_index()

In [74]:
data_system_analysis

    district_name cluster_name village_name            variety  total_quantity
0      Kitagwenda     Bujumiro   Bujumiro_A          Amaranths               1
1      Kitagwenda     Bujumiro   Bujumiro_A  Black night shade               1
2      Kitagwenda     Bujumiro   Bujumiro_A            Cabbage               1
3      Kitagwenda     Bujumiro   Bujumiro_A       Green Pepper               1
4      Kitagwenda     Bujumiro   Bujumiro_A             Nakati               1
..            ...          ...          ...                ...             ...
389         Rakai  Kyamakanaga     Nnongo_A       Green Pepper               1
390         Rakai  Kyamakanaga     Nnongo_A   Purple Eggplants               1
391         Rakai  Kyamakanaga     Nnongo_A            Spinach               2
392         Rakai  Kyamakanaga     Nnongo_A        Sukuma Wiki               1
393         Rakai  Kyamakanaga     Nnongo_A    White Eggplants               1

[394 rows x 5 columns]

In [75]:
data_system_analysis['variety']=data_system_analysis['variety'].str.strip().str.upper()

In [76]:
data_nur_design=pd.read_excel(r'C:\Users\RTV-LPT1-233\Desktop\edison jupyter\design_nurserybed.xlsx')

In [77]:
data_nur_design.rename(columns={'division':'district_name',
                                'cluster':'cluster_name',
                                'village':'village_name',
                                'amaranths_tins_nursery':'Amaranths',
                                'tomatoes _tins_nursery':'Tomatoes',
                                'black_nightshade_tins_nursery':'BLACK NIGHT SHADE',
                                'purple_graffiti_eggplants_tins_nursery':'Purple Eggplants',
                                'green_pepper_tins_nursery':'Green Pepper',
                                'white_eggplants_tins_nursery':'White Eggplants',
                                'cabbage_tins_nursery':'Cabbage',
                                'nakati_nursery':'Nakati',
                                'spinach_tin_nursery':'Spinach',
                                'sukuma_wiki_tins_nursery':'Sukuma Wiki',
                                'african_spider_plant_tins_nursery':'AFRICAN SPIDER PLANT'},inplace=True)

In [78]:
data_nur_design.columns

Index(['Country ', 'district_name', 'work_streams', 'category', 'cluster_name',
       'village_name', 'cohort', 'cycle', 'hot_pepper_tins_organic_pesticides',
       'onions_bags_organic_pesticides', 'Spinach', 'AFRICAN SPIDER PLANT',
       'Amaranths', 'Tomatoes', 'BLACK NIGHT SHADE', 'Purple Eggplants',
       'Green Pepper', 'White Eggplants', 'Cabbage', 'Nakati', 'Sukuma Wiki'],
      dtype='object')

In [79]:
data_nur_design.to_csv('design nurserybed summary.csv')

In [80]:
data_nur_design_melted=pd.melt(data_nur_design,id_vars=['district_name','cluster_name','village_name'],
                               value_vars=['Amaranths','Tomatoes','BLACK NIGHT SHADE','Purple Eggplants',
                                           'Green Pepper','White Eggplants','Cabbage','Nakati','Spinach','Sukuma Wiki','AFRICAN SPIDER PLANT'],
                               var_name='variety',value_name='total_quantity')

In [81]:
data_nur_design_melted['variety']=data_nur_design_melted['variety'].str.strip().str.upper()

In [82]:
merged_nurbed=data_system_analysis.merge(data_nur_design_melted,
                                       on=['district_name','cluster_name','village_name','variety'],
                                       suffixes=('_system','_designs'),
                                       how='outer')
differences_nurbed = merged_nurbed[merged_nurbed['total_quantity_system'] != merged_nurbed['total_quantity_designs']][['district_name', 'cluster_name', 'village_name',
                                                                                                'variety', 'total_quantity_system', 
                                                                                                'total_quantity_designs']]

In [83]:
differences_nurbed.to_excel(r"C:\Users\Edison New\Desktop\HWG Q1 Reporting 2025\Quality reports shared\nurserybed difference.xlsx", index=False)

# checking for seed return and seed disribution

In [84]:
seed_return=pd.read_csv(r"C:\Users\Edison New\Desktop\HWG Q1 Reporting 2025\Raw data sets from the app\check2 hWG Q1 files\Seed return 2024B check#3.csv")

In [85]:
seed_return.columns

Index(['guid', 'region_name', 'district_name', 'cluster_name', 'village_name',
       'cohort', 'cycle', 'reporter', 'reporter_email', 'name', 'household_id',
       'gender', 'age', 'contact', 'marital_status', 'quantity', 'seed',
       'unit', 'hours_to_complete', 'officials', 'other_officials',
       'challenges', 'other_challenges', 'latitude', 'longitude',
       'created_at'],
      dtype='object')

In [86]:
seed_return['household_id']=seed_return['household_id'].str.strip().str.upper()

In [87]:
seed_return.rename(columns={'quantity':'quantity_returned'},inplace=True)

In [88]:
seed_return.columns

Index(['guid', 'region_name', 'district_name', 'cluster_name', 'village_name',
       'cohort', 'cycle', 'reporter', 'reporter_email', 'name', 'household_id',
       'gender', 'age', 'contact', 'marital_status', 'quantity_returned',
       'seed', 'unit', 'hours_to_complete', 'officials', 'other_officials',
       'challenges', 'other_challenges', 'latitude', 'longitude',
       'created_at'],
      dtype='object')

In [89]:
seed_return.pivot_table(index=['district_name','seed'],
                        values='quantity_returned',
                        aggfunc='sum')

                              quantity_returned
district_name seed
Kitagwenda    Beans                     8150.25
              Irish Potatoes             518.65
              Maize                     6121.25
Rakai         Beans                    18958.40
              Irish Potatoes            1493.50

In [90]:
seed_dist_cycelB=pd.read_excel(r"C:\Users\RTV-LPT1-233\Desktop\edison jupyter\distributionlist.xlsx")

In [91]:
seed_dist_cycelB=seed_dist_cycelB[seed_dist_cycelB['seed']!='Onions']

In [92]:
seed_dist_cycelB.columns

Index(['district_name', 'cluster_name', 'village_name', 'cohort', 'cycle',
       'household_id', 'quantity_per_household', 'seed', 'unit'],
      dtype='object')

In [93]:
seed_dist_cycelB['household_id']=seed_dist_cycelB['household_id'].str.strip().str.upper()

In [94]:
seed_dist_cycelB.rename(columns={'quantity_per_household':'quantity_distributed'},inplace=True)

In [95]:
# Check the column names to ensure 'quantity_distributed' exists
print(seed_dist_cycelB.columns)

# Perform the pivot operation
seed_dist_cycelB.pivot_table(index=['district_name','seed'],
                        values='quantity_distributed',
                        aggfunc='sum')

Index(['district_name', 'cluster_name', 'village_name', 'cohort', 'cycle',
       'household_id', 'quantity_distributed', 'seed', 'unit'],
      dtype='object')

                              quantity_distributed
district_name seed
Kitagwenda    Beans                       8156.000
              Irish Potatoes               509.750
              Maize                       6117.000
Rakai         Beans                      19224.000
              Irish Potatoes              1671.264

In [96]:
merged_seed_return=seed_dist_cycelB.merge(seed_return,
                                            on=['district_name','cluster_name','village_name','household_id','seed'],
                                            suffixes=('_distributed','_returned'),
                                            how='outer')
differences_seed_analysis=merged_seed_return[merged_seed_return['quantity_distributed']!=merged_seed_return['quantity_returned']][['district_name','cluster_name','village_name',
                                                                                                                                   'household_id','seed', 
                                                                                                                                    'quantity_distributed','quantity_returned']]

In [97]:
differences_seed_analysis.to_excel(r"C:\Users\Edison New\Desktop\HWG Q1 Reporting 2025\Quality reports shared\seed return analysis24.xlsx", index=False)

# seed distribution 2025 cycle A

In [98]:
data_distribution=pd.read_csv(r"C:\Users\Edison New\Desktop\HWG Q1 Reporting 2025\Raw data sets from the app\seed distribution 2025 check#4.csv")

In [99]:
design_hh_seed_df=pd.read_excel(r"C:\Users\Edison New\Desktop\HWG Q1 Reporting 2025\Raw data sets from the app\check2 hWG Q1 files\seed designed to be distributed at HH level.xlsx")

In [100]:
data_distribution.columns

Index(['guid', 'region_name', 'district_name', 'cluster_name', 'village_name',
       'cohort', 'cycle', 'reporter', 'reporter_email', 'name', 'household_id',
       'gender', 'age', 'contact', 'marital_status', 'quantity_per_household',
       'seed', 'unit', 'hours_to_complete', 'officials', 'other_officials',
       'challenges', 'other_challenges', 'latitude', 'longitude',
       'created_at'],
      dtype='object')

In [101]:
Cluster=data_distribution['cluster_name'].unique()

In [102]:
data_distribution['seed'].unique()

array(['Beans', 'Maize', 'Irish Potatoes', 'Onions - Local'], dtype=object)

In [103]:
# # beans checking if quantity distributed matches with what is designed
# for cluster in cluster:
#     if (cluster=='Nyakacwamba') |(cluster=='Bujumiro'):
#         data_distribution['check_beans']=np.where((data_distribution['seed']=="Beans") & 
#                                                   (data_distribution['quantity_per_household']==4),0,1)
#     elif (cluster=='Nganiko') | (cluster=='Muyenga'):
#         data_distribution['check_beans']=np.where((data_distribution['seed']=="Beans") & 
#                                                   (data_distribution['quantity_per_household']==3),0,1)
#     elif cluster in ['Kyamakanaga','Kanoni','Kasensero']:
#         data_distribution['check_beans']=np.where((data_distribution['seed']=="Beans") & 
#                                                   (data_distribution['quantity_per_household']==5),0,1)

In [104]:
def seed_check(data):
    data['check'] = 'Pass'  # Initialize the 'check' column
    if data['seed'] == "Beans":
        if ((data['cluster_name'] in ['Nyakacwamba', 'Bujumiro'] and data['quantity_per_household']!=4) or
            (data['cluster_name'] == 'Nganiko' and data['quantity_per_household']!=3) or
            (data['cluster_name'] in ['Kyamakanaga', 'Kanoni', 'Kasensero'] and data['quantity_per_household']!=5)):
            data['check'] = 'Fail'
    elif data['seed'] == "Maize" and data['district_name'] == "Kitagwenda":
        if data['quantity_per_household']!=3:
            data['check'] = 'Fail'
    elif data['seed'] == "Irish Potatoes":
        if ((data['district_name'] == "Rakai" and data['quantity_per_household']!=0.4) or
            (data['district_name'] == "Kitagwenda" and data['quantity_per_household']!=0.25)):
            data['check'] = 'Fail'
    return data

In [105]:
seed_system = data_distribution.apply(seed_check, axis=1)

In [106]:
def HH_missed_seed(data, census_2025):
    # Identify households in the distribution list
    households_in_data = set(data['household_id'])

    # Beans: Households that DID NOT receive beans
    beans_missed = census_2025[~census_2025['household_id'].isin(data[data['seed'] == 'Beans']['household_id'])][['household_id']].copy()
    beans_missed['seed'] = 'Beans'

    # Maize: Households in Kitagwenda that DID NOT receive maize
    maize_missed = census_2025[(census_2025['district'] == 'Kitagwenda') & 
                               ~census_2025['household_id'].isin(data[data['seed'] == 'Maize']['household_id'])][['household_id']].copy()
    maize_missed['seed'] = 'Maize'

    # Irish Potatoes: Households that DID NOT receive Irish Potatoes
    irish_missed = census_2025[~census_2025['household_id'].isin(data[data['seed'] == 'Irish Potatoes']['household_id'])][['household_id']].copy()
    irish_missed['seed'] = 'Irish Potatoes'
    onion_missed = census_2025[(census_2025['district'] == 'Kitagwenda') & 
                               ~census_2025['household_id'].isin(data[data['seed'] == 'Onions - Local']['household_id'])][['household_id']].copy()
    onion_missed['seed'] = 'Onions - Local'

    # Combine the missing seed records
    df = pd.concat([beans_missed, maize_missed, irish_missed,onion_missed], ignore_index=True)

    # Merge with census_2025 to get additional details
    df = df.merge(census_2025[['household_id', 'district', 'Cluster', 'village', 'Cycle']], 
                  on='household_id', how='left')

    return df

In [107]:
data_missed=HH_missed_seed(data_distribution, census_2025)

In [108]:
filepath="C:\\Users\\Edison New\\Desktop\\HWG Q1 Reporting 2025\\Quality reports shared\\HH missed seed 2025.csv"
data_missed.to_csv(filepath,index=False)

In [109]:
filepath="C:\\Users\\Edison New\\Desktop\\HWG Q1 Reporting 2025\\Quality reports shared\\seed_system_check.csv"
seed_system.to_csv(filepath,index=False)

In [110]:
# #check for maize distributed vs designs at HH level
# data_distribution['check_maize'] = np.where(
#     (data_distribution['seed'] == "Maize") & (data_distribution['district_name'] == "Kitagwenda") & (data_distribution['quantity_per_household'] == 3),
#     0,
#     np.where(data_distribution['district_name']=="Rakai",np.nan,1))

In [111]:
# # check for lirsh vs designs
# data_distribution['irish_check'] = np.where(
#     (data_distribution['seed'] == "Irish Potatoes") & 
#     (
#         ((data_distribution['district_name'] == "Rakai") & (data_distribution['quantity_per_household'] == 0.4)) |
#         ((data_distribution['district_name'] == 'Kitagwenda') & (data_distribution['quantity_per_household'] == 0.25))
#     ),
#     0,
#     1
# )

In [112]:
# general check at top line level
design_hh_seed_df.head()

,Country,division,work_streams,category,cluster,village,cohort,cycle,hhs,total_population,males,females,youth,villages,beans_kgs_hh_seed,maize_kgs_hh_seed,rice_kgs_hh_seed,irish_potatoes_bags_hh_seed
0,Uganda,Kitagwenda,Standard,HWG,Bujumiro,Bujumiro_A,2025,1,117,421,181,240,64,5,468,351,0,30
1,Uganda,Kitagwenda,Standard,HWG,Bujumiro,Bujumiro_B,2025,1,77,339,165,174,69,0,300,225,0,18
2,Uganda,Kitagwenda,Standard,HWG,Bujumiro,Kanyamburara,2025,1,159,781,390,391,159,0,636,477,0,40
3,Uganda,Kitagwenda,Standard,HWG,Bujumiro,Kyarubingo,2025,1,97,477,220,257,71,0,388,291,0,24
4,Uganda,Kitagwenda,Standard,HWG,Bujumiro,Nyabwina_Buhanda,2025,1,58,265,120,145,60,0,232,174,0,15

In [113]:
summary_analyis_design=design_hh_seed_df.melt(value_vars=['beans_kgs_hh_seed','maize_kgs_hh_seed','irish_potatoes_bags_hh_seed'],
                       value_name="Total quantity",
                       var_name="seed",
                       id_vars=['division','cluster','village','cohort','cycle'])

In [114]:
summary_analyis_design.rename(columns={'division':'district_name',
                                       'cluster':'cluster_name',
                                       'village':'village_name',
                                       },inplace=True)

In [115]:
summary_analyis_design['cycle'].replace(1,"A",inplace=True)

C:\Users\Edison New\AppData\Local\Temp\ipykernel_10192\2456915691.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  summary_analyis_design['cycle'].replace(1,"A",inplace=True)

In [116]:
summary_analyis_design['seed'].replace({'beans_kgs_hh_seed':'Beans',
                                        "irish_potatoes_bags_hh_seed":"Irish potatoes",
                                        'maize_kgs_hh_seed':"Maize"},inplace=True)

C:\Users\Edison New\AppData\Local\Temp\ipykernel_10192\3487006151.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  summary_analyis_design['seed'].replace({'beans_kgs_hh_seed':'Beans',

In [117]:
summary_analyis_design

,district_name,cluster_name,village_name,cohort,cycle,seed,Total quantity
0,Kitagwenda,Bujumiro,Bujumiro_A,2025,A,Beans,468
1,Kitagwenda,Bujumiro,Bujumiro_B,2025,A,Beans,300
2,Kitagwenda,Bujumiro,Kanyamburara,2025,A,Beans,636
3,Kitagwenda,Bujumiro,Kyarubingo,2025,A,Beans,388
4,Kitagwenda,Bujumiro,Nyabwina_Buhanda,2025,A,Beans,232
...,...,...,...,...,...,...,...
124,Rakai,Kasensero,Nabyala,2025,A,Irish potatoes,28
125,Rakai,Kasensero,Nakitokolo,2025,A,Irish potatoes,47
126,Rakai,Kyamakanaga,Kyamakanaga_A,2025,A,Irish potatoes,58
127,Rakai,Kyamakanaga,Kyamakanaga_B,2025,A,Irish potatoes,27
128,Rakai,Kyamakanaga,Nnongo_A,2025,A,Irish potatoes,73

In [118]:
summary_analyis_imp= data_distribution.pivot_table(index=['district_name', 'cluster_name', 'village_name',
       'cohort', 'cycle','seed'],values=['quantity_per_household'],aggfunc='sum')

In [119]:
summary_analyis_imp=summary_analyis_imp.reset_index()

In [120]:
summary_analyis_imp.rename(columns={"quantity_per_household":"Total quantity"},inplace=True)

In [121]:
summary_analyis_design.columns

Index(['district_name', 'cluster_name', 'village_name', 'cohort', 'cycle',
       'seed', 'Total quantity'],
      dtype='object')

In [122]:
seed_dist_merg=summary_analyis_design.merge(summary_analyis_imp,on=['district_name', 'cluster_name', 'village_name', 'cohort', 'cycle',
       'seed'],
       suffixes=('_design','_imp'),
       how='outer')

In [123]:
seed_dist_merg.to_excel(r'C:\Users\Edison New\Desktop\HWG Q1 Reporting 2025\Quality reports shared\seed distribution.xlsx')