In [1]:
import pandas as pd
import numpy as np

In [2]:
data_tools_system=pd.read_csv(r"C:\Users\Edison New\Desktop\HWG Q1 Reporting 2025\Quality reports shared\tools distribution clean file.csv")

In [3]:
data_tools_system

    district_name cluster_name village_name            tool  number_of_pieces
0      Kitagwenda     Bujumiro   Bujumiro_A  Compound Sacks                 6
1      Kitagwenda     Bujumiro   Bujumiro_A         Filters                 6
2      Kitagwenda     Bujumiro   Bujumiro_A      Forked Hoe                 6
3      Kitagwenda     Bujumiro   Bujumiro_A          Gloves                12
4      Kitagwenda     Bujumiro   Bujumiro_A            Hoes                12
..            ...          ...          ...             ...               ...
572         Rakai  Kyamakanaga     Nnongo_A       Secateurs                45
573         Rakai  Kyamakanaga     Nnongo_A           Spade                18
574         Rakai  Kyamakanaga     Nnongo_A     Spray Pumps                 9
575         Rakai  Kyamakanaga     Nnongo_A       Tarpaulin                90
576         Rakai  Kyamakanaga     Nnongo_A    Watering can                45

[577 rows x 5 columns]

In [4]:
tools_designs=pd.read_csv(r"C:\\Users\\Edison New\Desktop\\HWG Q1 Reporting 2025\\Code used\\Tool list designed to be distributed.csv")

In [5]:
tools_designs

,Unnamed: 0,district_name,cluster_name,village_name,tool,number_of_pieces
0,0,Kitagwenda,Muyenga,Muyenga_Central,Secateurs,10
1,1,Kitagwenda,Muyenga,Muyenga_TC,Secateurs,15
2,2,Kitagwenda,Muyenga,Nganiko_2,Secateurs,15
3,3,Kitagwenda,Muyenga,Nganiko_3,Secateurs,15
4,4,Kitagwenda,Muyenga,Zanzibar,Secateurs,15
...,...,...,...,...,...,...
683,683,Rakai,Kasensero,Nabyala,Mortar and Pestle,4
684,684,Rakai,Kasensero,Nakitokolo,Mortar and Pestle,6
685,685,Rakai,Kyamakanaga,Kyamakanaga_A,Mortar and Pestle,7
686,686,Rakai,Kyamakanaga,Kyamakanaga_B,Mortar and Pestle,3
687,687,Rakai,Kyamakanaga,Nnongo_A,Mortar and Pestle,9

In [6]:
data_final_analysis=data_tools_system.merge(tools_designs,on=['district_name','cluster_name','village_name','tool'],
                                            suffixes=('_system','_designs'),how='outer')

In [7]:
data_final_analysis = data_final_analysis.drop(columns=['Unnamed: 0'])
data_final_analysis

,district_name,cluster_name,village_name,tool,number_of_pieces_system,number_of_pieces_designs
0,Kitagwenda,Bujumiro,Bujumiro_A,Compound Sacks,6.0,6
1,Kitagwenda,Bujumiro,Bujumiro_A,Filters,6.0,6
2,Kitagwenda,Bujumiro,Bujumiro_A,Forked Hoe,6.0,6
3,Kitagwenda,Bujumiro,Bujumiro_A,Gloves,12.0,12
4,Kitagwenda,Bujumiro,Bujumiro_A,Hoes,12.0,12
...,...,...,...,...,...,...
683,Rakai,Kyamakanaga,Nnongo_A,Secateurs,45.0,45
684,Rakai,Kyamakanaga,Nnongo_A,Spade,18.0,18
685,Rakai,Kyamakanaga,Nnongo_A,Spray Pumps,9.0,9
686,Rakai,Kyamakanaga,Nnongo_A,Tarpaulin,90.0,90
687,Rakai,Kyamakanaga,Nnongo_A,Watering can,45.0,45

In [9]:
filepath='C:\\Users\\Edison New\\Desktop\\HWG Q1 Reporting 2025\\Final outputs\\finaltool checks.csv'
data_final_analysis.to_csv(filepath,index=False)